@media (min-width: 1200px) {
    max-width: unset !important;
}

#modify-order-content {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 50px;
}

.main-content {
    margin-left: 180px;
    padding-top: 90px;
}
