
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .a{
        margin-top:15px;
        margin-left:60px;
    }
    .head_top {
        width: 100%;
        height: 50px;
        background :
    }
</style>
<h1>hehecaca</h1>
<div class="a">
  <div>

  </div>
    
</div>