
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .body{
        width:600px;
        margin-top:200px;
        margin-left:200px;
        background:blue;
    }
</style>
<div class="Wrapper_body">
    <h1>helo</h1>
</div>