@model StudyProgram.Entity.Course

@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<style>
    .form__createCourse {
        width: 500px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto;
    }

    .form-group-c {
        display: flex;
        flex-direction: column;
        margin: .5rem;
    }

        .form-group-c > label {
            font-size: 1rem;
            margin-left: 1rem;
        }

        .form-group-c > .input {
            padding: 1rem;
            width: 100%;
            margin: 0 auto;
            border: none;
            outline: none;
            border-radius: 5px;
        }

    .form__btn {
        padding: 1rem;
        font-size: 1rem;
    }

    .back {
        margin-top: 1.5rem;
        border: 1px solid lightgray;
        padding: 1rem;
        display: inline-block;
        background-color: black;
    }

        .back > a {
            color: #fff;
            text-decoration: none;
            font-size: 1.5rem;
        }
</style>

<h1>Create</h1>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" class="form__createCourse">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group-c">
                <label asp-for="CourseId" class="control-label"></label>
                <input asp-for="CourseId" class="form-control input" />
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div>
            <div class="form-group-c">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control input" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group-c">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control input" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group-c">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control input" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group-c">
                <input type="submit" value="Create" class="btn btn-primary form__btn" />
            </div>
        </form>
    </div>
</div>

<div class="back">
    <a asp-action="Index">Back to List</a>
</div>

