
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .body {
        margin-top: 65px;
        margin-left: 50px;
        width: 100%;
    }
</style>
<div class="body">
    <h1> namespace</h1>
    
</div>